@model System.Collections.Generic.List<WebApplication1.Models.Order>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Zamówienia</h2>

<p>
    <a asp-action="Create">Stwórz nowe zamówienie</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Klient</th>
                <th>Więcej</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderID</td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>@order.CustomerName</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@order.OrderID">Details</a> |
                        <a asp-action="Edit" asp-route-id="@order.OrderID">Edit</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}
